.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}
