.header__burger-button {
  display: none;
  margin-right: 30px;
  padding: 0;
  background: none;
  border: none;
  align-self: flex-end;
  width: 20px;
  height: 20px;
}

.header__burger-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__burger-button {
    display: block;
  }
}
