.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
}

@media screen and (max-width: 767px) {
  .popup__info {
    padding-bottom: 9px;
  }
}
