.header__button {
  padding: 0;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .header__button {
    max-width: 56px;
    align-self: center;
  }
}
